- pageTitle.set("List a New Job")
h1= pageTitle.get()
form#new-job(method="post",action="/jobs/new")

  fieldset#description.area.ui-widget-content
    legend What is the Job?

    div.wide.field#jobType
      input#jobTypeErrand(type="radio",name="jobType",value="errand",checked)
      label(for="jobTypeErrand",title="around and about the local area, e.g. shopping run") 
        img(src="/images/errand.png",alt="errand")
        | Errand
      input#jobTypeHelp(type="radio",name="jobType",value="help")
      label(for="jobTypeHelp",title="lend me a hand, e.g. a two-person job, house sit")
        img(src="/images/helping-hand.png",alt="help")
        | Helping hand
      input#jobTypePickup(type="radio",name="jobType",value="pickup")
      label(for="jobTypePickup",title="need transport, e.g. parcel collection")
        img(src="/images/pickup.png",alt="pickup")
        | Pickup
      input#jobTypeMove(type="radio",name="jobType",value="move")
      label(for="jobTypeMove",title="need a van, e.g. moving furniture")
        img(src="/images/move.png",alt="move")
        | Move
      input#jobTypeOnline(type="radio",name="jobType",value="online")
      label(for="jobTypeOnline",title="wholly online, e.g. research")
        img(src="/images/online.png",alt="online")
        | Online

    div.summary.field
      label.above(for="title") 
        | Title
        em (required)
        img(src="/images/public.png",alt="public",title="public, shown to everyone")
      input#title.full.required(name="title",placeholder="e.g. shop for groceries, stake out a spot in the park")

    div.detail.field
      label.above(for="description") 
        | Description
        em (required)
        img(src="/images/public.png",alt="public",title="public, shown to everyone")
      textarea#description.full.required(
        name="description",
        cols=50,rows=6,
        placeholder="put in as much detail as you can: describe any items to be carried or purhcased, possibly including size and weight; the approximate time required to complete the job; any special skills or tools required")

    div.detail.field
      label.above(for="privateNotes") 
        | Private notes
        em (optional)
        img(src="/images/private.png",alt="private",title="private, only shown to assigned worker")
      textarea#privateNotes.full(
        name="privateNotes",
        cols=50,rows=3,
        placeholder="any information the worker needs to know, but that you don't wish to be public")

  div#locations
    fieldset.area.ui-widget-content
      legend Where is the job? 
      div.summary.field
        label.above(for="jobSuburb")
          | Suburb/town
          em (required)
          img(src="/images/public.png",alt="public",title="public, shown to everyone")
        input#jobSuburb.wide.required(name="jobSuburb",placeholder="type to see suggestions")
        input#jobLocationSuburbId(type="hidden",name="jobLocationSuburbId")

      fieldset.nested.detail.area.ui-widget-content
        legend Address
          img(src="/images/private.png",alt="private",title="private, only shown to assigned worker")
        div.flowing.detail.field
          label.above(for="locationName") Location Name 
            em (optional)
          input#jobLocationName.narrow(name="jobLocationName",placeholder="e.g. my house")
        div.flowing.detail.field
          label.above(for="jobLocationStreet") Street Address 
            em (optional)
          input#jobLocationStreet.narrow(name="jobLocationStreet")
        div.flowing.detail.field
          label.above Suburb, State, Postcode
          div#jobLocationLocality.read-only.narrow

      div#extraLocations
      button#addExtraLocation(type="button") Add an extra location

  div.form-actions
    input(type="submit",name="submit",value="Submit")

div#locationTemplate.template
  fieldset
    legend Extra location
    div.summary.field
      label.above(for="extraLocationSuburb_${id}")
        | Suburb/town
        em (optional)
        img(src="/images/public.png",alt="public",title="public, shown to everyone")
      input.wide(id="extraLocationSuburb_${id}",name="extraLocationSuburb_${id}",
                          placeholder="type to see suggestions")
      input(id="extraLocationSuburbId_${id}",type="hidden",name="extraLocationSuburbId_${id}")

    fieldset.nested.detail.area.ui-widget-content
      legend Address
        img(src="/images/private.png",alt="private",title="private, only shown to assigned worker")
      div.flowing.detail.field
        label.above(for="extraLocationName_${id}") Location Name 
          em (optional)
        input.narrow(id="extraLocationName_${id}",name="extraLocationName_${id}",placeholder="e.g. my house")
      div.flowing.detail.field
        label.above(for="extraLocationStreet_${id}") Street Address 
          em (optional)
        input.narrow(id="extraLocationStreet_${id}",name="extraLocationStreet_${id}")
      div.flowing.detail.field
        label.above Suburb, State, Postcode
        div.read-only.narrow(id="extraLocationLocality_${id}")

:coffeescript
  $(->
    $("#jobType").buttonset()

    $("#jobTypeErrand")
      .click -> $("#title").attr "placeholder", "e.g. shop for groceries, stake out a spot in the park"

    $("#jobTypePickup")
      .click -> $("#title").attr "placeholder", "e.g. pickup a parcel, deliver some flowers"

    $("#jobTypeMove")
      .click -> $("#title").attr "placeholder", "e.g. collect a bed, office move"

    $("#jobTypeHelp")
      .click -> $("#title").attr "placeholder", "e.g. house sit, build a bookcase, fix my car"

    $("#jobTypeOnline")
      .click -> $("#title").attr "placeholder", "e.g. compare laptops, research composting"

    $("#jobSuburb").suggest
      source: "/reference/locality"
      select: (event, ui) ->
        if(ui.item)
          $("#jobLocationSuburbId").val ui.item.id
          $("#jobLocationLocality").text(
            ui.item.supplement.suburb + ", " + 
            ui.item.supplement.state + " " + 
            ui.item.supplement.postcode)

    locationId = 0

    $("#addExtraLocation").click ->
      thisLocationId = ++locationId

      $("#locationTemplate").tmpl(
        id: thisLocationId
      ).appendTo $("#extraLocations")
      
      $("#extraLocationSuburb_" + thisLocationId).suggest
        source: "/reference/locality"
        select: (event, ui) ->
          if(ui.item)
            $("#extraLocationSuburbId_" + thisLocationId).val ui.item.id
            $("#extraLocationLocality_" + thisLocationId).text(
              ui.item.supplement.suburb + ", " + 
              ui.item.supplement.state + " " + 
              ui.item.supplement.postcode)
  )
