mixin private
  img(src='/images/private.png',alt='private',title='private, only shown to assigned worker')
mixin secure
  img(src='/images/private.png',alt='private',title='secure, not shown to anyone')
mixin public
  img(src='/images/public.png',alt='public',title='public, shown to everyone')

- pageTitle.set('List a New Job')
form#new-job(method='post',action='/jobs/new')

  fieldset#description.area.ui-widget-content
    legend What is the job?

    div.wide.field#jobType
      input#jobTypeErrand(type='radio',name='type',value='errand',checked=(type=='errand' || !type))
      label(for='jobTypeErrand',title='around and about the local area, e.g. shopping run') 
        img(src='/images/errand.png',alt='errand')
        | Errand
      input#jobTypeHelp(type='radio',name='type',value='help',checked=type=='help')
      label(for='jobTypeHelp',title='lend me a hand, e.g. a two-person job, fix my car')
        img(src='/images/helping-hand.png',alt='help')
        | Helping hand
      input#jobTypePickup(type='radio',name='type',value='pickup',checked=type=='pickup')
      label(for='jobTypePickup',title='need transport, e.g. parcel collection')
        img(src='/images/pickup.png',alt='pickup')
        | Pickup
      input#jobTypeMove(type='radio',name='type',value='move',checked=type=='move')
      label(for='jobTypeMove',title='need a van, e.g. moving furniture')
        img(src='/images/move.png',alt='move')
        | Move
      input#jobTypeOnline(type='radio',name='type',value='online',checked=type=='online')
      label(for='jobTypeOnline',title='wholly online, e.g. research')
        img(src='/images/online.png',alt='online')
        | Online

    div.important.field
      label.above(for='title') 
        | Title
        em (required)
        mixin public
      input#title.full.required(name='title',placeholder='e.g. shop for groceries, stake out a spot in the park')

    div.detail.field
      label.above(for='description') 
        | Description
        em (required)
        mixin public
      textarea#description.full.required(
        name='description',
        cols=50,rows=6,
        placeholder='put in as much detail as you can: describe any items to be carried or purhcased, possibly including size and weight; the approximate time required to complete the job; any special skills or tools required')

  div#locations
    fieldset.area.ui-widget-content
      legend Where is the job? 

      fieldset
        div.important.field
          label.above(for='locationSuburb_0')
            | Suburb/town
            em (required)
            mixin public
          input.required.suburb.wide(id='locationSuburb_0',name='locations[0][suburb]',placeholder='type to see suggestions')
          input(id='locationSuburb_0_id',type='hidden',name='locations[0][id]',value='')

        fieldset.nested.area.ui-widget-content
          legend Address
            mixin private
          div.flowing.detail.field
            label.above(for='locationName_0') Location Name 
              em (optional)
            input.narrow(id='locationName_0',name='locations[0][name]',placeholder='e.g. my house')
          div.flowing.detail.field
            label.above(for='locationStreet_0') Street Address 
              em (optional)
            input.narrow(id='locationStreet_0',name='locations[0][street]')
          div.flowing.detail.field
            label.above Suburb, State, Postcode
            div.read-only.narrow(id='locationLocality_0')

      div#extraLocations
      button#addExtraLocation(type='button') Add an extra location

  fieldset.area.ui-widget-content
    legend Important details about the job?

    div.detail.field
      label.above(for='timing') 
        | Timing
        em (required)
        mixin public
      div
        | The job must be done 
        select#timing.required(name='timing')
          option(value='by',selected=(timing=='by')) By
          option(value='on',selected=(timing=='on')) On
        | 
        select#completionDate.required(name='completionDate')
          - each date in possibleCompletionDates
            option(value=date.value)= date.text

    div.detail.field
      label.above(for='expenses') 
        | Expenses 
        em (optional)
        mixin public
      | Up to $
      input#expenses.money.number(name='expenses')
      |.00 will be re-imbursed to the worker.

    div.detail.field
      label.above(for='privateNotes') 
        | Private notes
        em (optional)
        mixin private
      textarea#privateNotes.full(
        name='privateNotes',
        cols=50,rows=3,
        placeholder='any information the worker needs to know, but that you don&apos;t wish to be public')

  fieldset.area.ui-widget-content
    legend How much will you pay to get the job done?

    div.mostimportant.field
      label.above(for='maxPayment') 
        | Maximum Payment 
        em (required)
        mixin secure
      | $
      input#maxPayment.money.number.required(type='number',name='maxPayment')
      |.00      

  div.form-actions
    input(type='submit',name='submit',value='Submit')

div#locationTemplate.template
  fieldset
    div.important.field
      label.above(for='locationSuburb_${locationNo}')
        | Suburb/town
        em (optional)
        mixin public
      input.suburb.wide(id='locationSuburb_${locationNo}',name='locations[${locationNo}][suburb]',placeholder='type to see suggestions')
      input(id='locationSuburb_${locationNo}_id',type='hidden',name='locations[${locationNo}][id]',value='')

    fieldset.nested.area.ui-widget-content
      legend Address
        mixin private
      div.flowing.detail.field
        label.above(for='locationName_${locationNo}') Location Name 
          em (optional)
        input.narrow(id='locationName_${locationNo}',name='locations[${locationNo}][name]',placeholder='e.g. my house')
      div.flowing.detail.field
        label.above(for='locationStreet_${locationNo}') Street Address 
          em (optional)
        input.narrow(id='locationStreet_${locationNo}',name='locations[${locationNo}][street]')
      div.flowing.detail.field
        label.above Suburb, State, Postcode
        div.read-only.narrow(id='locationLocality_${locationNo}')

:coffeescript
  $(->
    $.validator.addMethod "suburb", 
      (value, element) -> 
        $('#' + element.id).val() == '' or $('#' + element.id + '_id').val() != ''
      'Please select a suburb'

    $('form').validate
      errorPlacement: (error, element) -> error.appendTo element.parent()

    $('#jobType').buttonset()

    $('#jobTypeErrand')
      .click -> 
        $('#title').attr 'placeholder', 'e.g. shop for groceries, stake out a spot in the park'
      .filter(':checked').click()

    $('#jobTypePickup')
      .click -> 
        $('#title').attr 'placeholder', 'e.g. pickup a parcel, deliver some flowers'
      .filter(':checked').click()

    $('#jobTypeMove')
      .click -> 
        $('#title').attr 'placeholder', 'e.g. collect a bed, office move'
      .filter(':checked').click()

    $('#jobTypeHelp')
      .click -> 
        $('#title').attr 'placeholder', 'e.g. build a bookcase, fix my car'
      .filter(':checked').click()

    $('#jobTypeOnline')
      .click -> 
        $('#title').attr('placeholder', 'e.g. compare laptops, research composting')
      .filter(':checked').click()

    $('#jobTypeErrand, #jobTypePickup, #jobTypeMove, #jobTypeHelp')
      .toggleDependentFields $('#locations')

    locationNo = 1

    $('#addExtraLocation').click ->
      thisLocationNo = locationNo++

      $('#locationTemplate').tmpl(
        locationNo: thisLocationNo
      ).appendTo $('#extraLocations')
      
      bindSuggest thisLocationNo

    bindSuggest = (thisLocationNo) ->       
      $('#locationSuburb_' + thisLocationNo).suggest
        source: '/reference/locality'
        select: (event, ui) ->
          if(ui.item)
            $('#locationSuburb_' + thisLocationNo).val ui.item.label
            $('#locationSuburb_' + thisLocationNo + '_id').val ui.item.id
            $('#locationLocality_' + thisLocationNo).text(
              ui.item.supplement.suburb + ', ' + 
              ui.item.supplement.state + ' ' + 
              ui.item.supplement.postcode)            
            $('#locationSuburb_' + thisLocationNo).valid()
        search: -> $('#locationSuburb_' + thisLocationNo + '_id').val('')
        supplement: (s) ->  ' (' + s.state + ')'

    bindSuggest 0
  )
