mixin private
  img(src='/images/private.png',alt='private',title='private, only shown to assigned worker')
mixin secure
  img(src='/images/private.png',alt='private',title='secure, not shown to anyone')
mixin public
  img(src='/images/public.png',alt='public',title='public, shown to everyone')

- pageTitle.set('Confirm the New Job')
form#new-job(method='post',action='/jobs/confirm')
  
  fieldset.area.ui-widget-content
    legend Confirm your job details
    p
      - var listLocations = true;
      - if (model.type == 'online')
        - listLocations = false;
        | The job is online and does not involve travel
      - else if (model.type == 'errand')
        | The job is an errand 
      - else if (model.type == 'help')
        | You need a helping hand 
      - else if (model.type == 'pickup')
        | The job is to pick up something portable 
      - else if (model.type == 'move')
        | The job is to move things  
      - if (listLocations)
        span in or around #{model.locations[0].suburb}
        - each location in model.locations.slice(1, model.locations.length - 1)
          | , #{location.suburb}
        - if (model.locations.length > 1)
          | and #{model.locations[model.locations.length - 1].suburb}
      |  and you will pay at most $#{model.maxPayment} for someone to #{model.title} #{model.timing} 
      | #{friendlyTicksText(model.completionDate)}.
            
  fieldset.area.ui-widget-content
    legend Tag your job
    p.
      Add tags to your job to make sure the right people get to see it.

    div.detail.field
      label.above(for='tags')
        | Tags
        em (optional)
        mixin public
      ul#tags(name='tags')

:coffeescript
  $(->
    $('#tags').tags
      url: '/reference/tags'
      select: true
      autoFocus: true
      supplement: (match) ->  ' (' + match.count + ')'
  )